@import '_rwd';
button {
  background: var(--orange);
  color: var(--light);
  border: none;
  &.btn-login, &.btn-register {
    width: 540px;
    height: 46px;
    margin-top: 40px;
    border-radius: 50px;
  }
  &.btn-side {
    width: 70%;
    height: 38px;
    border-radius: 100px;
    margin: 10px 0 auto 0;
    font-size: 16px;
    font-weight: 500;
    @include breakpoint(zone-base) {
      width: 40px;
      height: 40px;
      margin-left: 5.5px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
      &::before {
        content: '+';
        font-size: 18px;
      }
    }
    @include breakpoint(mobile) {
      position: absolute;
      bottom: 70px;
      right: 6%;
    }
  }
  &.btn-unfollow {
    width: 90px;
    height: 35px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 700;
  }
  &.btn-follow {
    width: 60px;
    height: 35px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 700;
    color: var(--orange);
    background: transparent;
    border: 1px solid var(--orange);
  }
  &.btn-tweet {
    width: 66px;
    height: 38px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    float: right;
  }
  &.btn-close {
    color: var(--orange)
  }
  &.btn-setting {
    margin-top: 40px;
    width: 116px;
    height: 46px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    float: right;
  }
  &.btn-edit {
    width: 120px;
    height: 35px;
    background-color: var(--light);
    border: 1px solid var(--orange);
    border-radius: 100px;
    color: var(--orange);
    font-size: 15px;
    font-weight: 700;
  }
  &.btn-save {
    width: 66px;
    height: 28px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    padding-bottom: 2px;
    &:disabled {
      opacity: 40%;
    }
  }
  &.btn-following {
    width: 90px;
    height: 25px;
    border-radius: 100px;
  }
}

@media screen and (min-width: 1082px){
  button {
    &.btn-nav {
      width: 90%;
      height: 38px;
      border-radius: 100px;
      margin-top: 10px;
    }
  }
}