.chat-container {
  display: flex;
  border-right: 1px solid var(--input-border);
  border-left: 1px solid var(--input-border);
  @include breakpoint(pad-portrait) {
    display: block;
  }
  .chat-head {
    width: 40%;
    max-height: 100vh;
    min-width: 350px;
    border-right: 1px solid var(--input-border);
    @include breakpoint(pad-portrait) {
      width: 100%;
      height: 40vh;
      border-right: none;
    }
    &-header {
      height: 55px;
      padding: 15px;
      font-size: 18px;  
      font-weight: 700;
      color: var(--text-content);
      border-bottom: 1px solid var(--input-border);
      display: flex;align-items: center;
      justify-content: space-between;
      &-message {
        width: 24px;
        height: 24px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    &-users {
      height: calc( 100vh - 55px );
      overflow-y: auto;
       
      @include breakpoint(pad-portrait) {
        width: 100%;
        height: calc(40vh - 55px);
        border-right: none;
      }
      .chat-head-user {
        padding: 10px 15px;
        border-bottom: 1px solid var(--input-border);
        height: 75px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover {
          background: var(--input-border);
        }
        &-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          object-fit: cover;
        }
        &-name {
          font-size: 15px;
          font-weight: 700;
          color: var(--text-content);
          text-decoration: none;
          margin-right: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
        &-account {
          font-size: 15px;
          font-weight: 500;
          color: var(--input-label);
          text-decoration: none;
        }
        &-moment {
          font-size: 15px;
          font-weight: 500;
          color: var(--input-label);
          position: absolute;
          text-decoration: none;
          right: 15px;
        }
        &-head {
          display: block;
        }
        &-intro {
          font-size: 14px;
          font-weight: 400;
          color: var(--input-label);
        }
      }
    }
  }
  .chat-body {
    flex: 1;
    @include breakpoint(pad-portrait) {
      height: 60vh;
    }
    @include breakpoint(pad-portrait) {
      height: calc( 60vh - 57px );
    }
    &-header {
      height: 55px;
      padding: 13px 14px;
      font-size: 19px;
      font-weight: 700;
      border-bottom: 1px solid var(--input-border);
      display: flex;
      align-items: center;
      @include breakpoint(pad-portrait) {
        border-top: 1px solid var(--input-border);
      }
      &-name {
        font-size: 19px;
        color: var(--text-content);
        margin-right: 4px;
      }
      &-account {
        font-size: 14px;
        color: var(--input-label);
      }
    }
    &-text {
      padding: 15px;
      height: calc(100vh - 110px);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      &> :first-child {
        margin-top: auto;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      @include breakpoint(pad-portrait) {
        height: calc( 60vh - 110px);
      }
      @include breakpoint(mobile) {
        height: calc( 60vh - 167px);
      }
      
      &-wrapper {
        margin-bottom: 15px;
        &-other {
          &-head {
            display: flex;
            align-items: end;
            &-image {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 10px;
              object-fit: cover;
              @include breakpoint(mobile) {
                width: 35px;
                height: 35px;
              }
            }
            &-text {
              max-width: 60%;
              background: var(--input-border);
              border-radius: 25px 25px 25px 0px;
              padding: 10px 15px;
              font-size: 15px;
              color: var(--text-content);
              @include breakpoint(mobile) {
                font-size: 13px;
              }
            }
          }
          &-body {
            display: flex;
            align-items: start;
            &-name {
              width: 40px;
              margin-right: 10px;
              @include breakpoint(mobile) {
                width: 35px;
              }
            }
            &-moment {
              font-size: 15px;
              font-weight: 400;
              color: var(--input-label);
              @include breakpoint(mobile) {
                font-size: 13px;
              }
            }
          }
        }
        &-announce {
          display: flex;
          &-text {
            background: var(--chat-announce);
            margin: 0 auto;
            padding: 7px 14px;
            border-radius: 50px;
            color: var(--input-label);
            font-size: 14px;
          }
        }
        &-user {
          display: flex;
          flex-direction: column;
          align-items: end;
          &-text {
            max-width: 60%;
            background: var(--orange);
            border-radius: 25px 25px 0px 25px;
            padding: 10px 15px;
            font-size: 15px;
            color: var(--light);
            @include breakpoint(mobile) {
              font-size: 13px;
            }
          }
          &-moment {
            font-size: 15px;
            font-weight: 400;
            color: var(--input-label);
            @include breakpoint(mobile) {
              font-size: 13px;
            }
          }
        }
      }
    }
    &-foot {
      height: 55px;
      padding: 11px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--input-border);
      &-input {
        width: calc(98% - 24px);
        margin-right: 2%;
        height: 32px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: var(--input-border);
        color: #000 40%;
        padding: 8px 15px;
        font-size: 15px;
      }
      &-image {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
  .chat-empty {
    flex: 1;
    height: 100vh;
    @include breakpoint(pad-portrait) {
      height: 60vh;
    }
    @include breakpoint(pad-portrait) {
      height: calc( 60vh - 57px );
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .chat-unselect {
      &-title {
        font-size: 32px;
      }
    }
  }
}