:root {
  --orange: #FF6600;
  --blue: #0099FF;
  --heart: #E0245E;
  --text-content: #1C1C1C;
  --text-note: #657786;
  --dark: #000000;
  --light: #FFFFFF;

  --input-label: #657786;
  --input-bg: #F5F8FA;
  --input-holder: #9197A3;
  --input-active: #50B5FF;
  --input-alert: #FC5A5A;
  --input-border: #E6ECF0;

  --logo-url: url("https://i.imgur.com/Zay0a1r.png");
  --home-url: url("https://i.imgur.com/1iBfCBQ.png");
  --user-url: url("https://i.imgur.com/ADONhfP.png");
  --settings-url: url("https://i.imgur.com/WUZbQOb.png");
  --logout-url: url("https://i.imgur.com/CHEHyOX.png");
  --comment-url: url("https://i.imgur.com/4pthKfk.png");
  --liked-url: url("https://i.imgur.com/whixzAt.png");
  --back-url: url("https://i.imgur.com/xdYcS8J.png");
}