.login, .register {
  margin: 0 auto;
  width: 540px;
  &-logo {
    background: var(--logo-url);
    background-size: 100% 100%;
    margin: 65px auto 0 auto;
    width: 40px;
    height: 40px;
  }
  &-title {
    font-size: 23px;
    font-weight: 700;
    color: var(--text-content);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 8px;
  }
  &-error {
    font-size: 15px;
    font-weight: 500;
    color: var(--input-alert)
  }
  &-link {
    color: var(--blue);
    display: flex;
    justify-content: end;
    margin-top: 20px;
    &-target {
      color: var(--blue);
      font-size: 18px;
      text-decoration-line: underline;
      font-weight: 700;
    }
  }
  &-cancel {
    color: var(--blue);
    margin-top: 20px;
    text-align: center;
    &-target {
      color: var(--blue);
      font-size: 18px;
      text-decoration-line: underline;
      font-weight: 700;
    }
  }
}

