@import '_rwd';
.side {
  &-logo {
    margin: 14px 10px 30px 10px;
    width: 30px;
    height: 30px;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include breakpoint(mobile) {
      display: flex;
      justify-content: space-around;
      position: relative;
      bottom: 0;
      width: 100vw;
      border-top: 1px solid var(--input-border);
    }
    li {
      .side-option {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-content);
        height: 56px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 500;
        @include breakpoint(zone-base) {
          width: 56px;
        }
        .icon, .icon-active {
          width: 24px;
          height: 24px;
          margin-right: 20px;
          margin-left: 13px;
          @include breakpoint(mobile) {
            margin: auto;
          }
        }
        &:hover {
          background-color: var(--input-border);
          color: var(--orange);
          font-weight: 700;
          @include breakpoint(mobile) {
            background-color: transparent;
          }
          .icon {
            display: none;
          }
          .icon-active {
            display: block;
          }
        }
        &.active {
          color: var(--orange);
          font-weight: 700;
          .icon {
            display: none;
          }
          .icon-active {
            display: block;
          }
        }
        .icon-active {
          display: none;
        }
      }
    }
  }
  &-logout {
    bottom: 17px;
    left: 2.5%;
    position: absolute;
    &-label {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      color: var(--text-content);
    }
    .img{ 
      width: 24px;
      height: 24px;
      margin-right: 20px;
      margin-left: 13px;
      @include breakpoint(zone-base) {

      }
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  span {
    @include breakpoint(zone-base) {
      display: none;
    }    
  }
}
.navTop {
  height: 55px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--input-border);
  position: relative;
  &-icon {
    width: 23px;
    height: 24px;
    background: var(--back-url);
    background-size: 100% 100%;
    margin-right: 41px;
  }
  &-title {
    &-name {
      font-size: 18px;
      font-weight: 700;
      color: var(--text-content);
    }
    &-info {
      font-size: 13px;
      font-weight: 500;
      color: var(--input-label);
    }
  }
  &-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    left: calc(50% - 15px);
    display: none;
    @include breakpoint(mobile) {
      display: block;
    }
  }
}


