.notice {
  padding: 10px 15px;
  border-bottom: 1px solid var(--input-border);
  font-weight: 300;
  font-size: 15px;
  @include breakpoint(mobile) {
    margin-top: 0;
  }
  &-head {
    margin-bottom: 5px;
    &-avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: var(--input-label);
      object-fit: cover;
    }
  }
  &-info {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
  }
  &-text {
    font-size: 15px;
    color: var(--input-label);
    text-decoration: none;
    &:hover {
      color: var(--input-label);
    }
  }
}