.reply {
  padding: 15px;
  border-bottom: 1px solid var(--input-border);
  display: flex;
  &-icon {
    width: 50px;
    height: 50px;
    background: var(--input-border);
    border-radius: 50%;
    margin-right: 10px;
  }
  &-content {
    flex: 1;
    &-title {
      display: flex;
      align-items: center;
      font-size: 15px;
      &-name {
        font-weight: 700;
        color: var(--text-content);
        margin-right: 5px;
      }
      &-account, &-time {
        font-weight: 500;
        color: var(--input-label);
      }
    }
    &-target {
      font-size: 15px;
      color: var(--input-label);
      &-account {
        color: var(--orange);
      }
    }
    &-comment {
      font-size: 15px;
      font-weight: 400;
    }
  }
}