@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

@import '_colors';
@import '_login';
@import '_form';
@import '_button';
@import '_navbar';
@import '_follow';
@import '_tweet';
@import '_modal';

html, body {
  font-family: Noto Sans TC;
}

.main {
  border: 1px solid var(--input-border);
  height: 100%;
}
.mainPost {
  height: 130px;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid var(--input-border);
  border-bottom: 10px solid var(--input-border);
  display: flex;
  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--input-border);

  }
  .form-main-tweet {
    margin-left: 10px;
    flex:1;
    height: 100%;
    position: relative;
    #btn-tweet {
      position: absolute;
      bottom: 0%;
      right: 0%;
    }
  }
}

@media screen and (min-width: 1082px) {
  .app-container {
    width: 86.5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2.8fr 1.49fr;
    grid-gap: 30px;
    // .header,
    // .home,
    // .follows {
    //   border: 1px solid red;
    // }
    
  }
}