@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

@import '_colors';
@import '_login';
@import '_form';
@import '_button';
@import '_navbar';
@import '_follow';
@import '_tweet';
@import '_modal';
@import '_post';
@import '_reply';
@import '_user';
@import '_following';
@import '_card';
@import '_toast';
@import '_rwd';

html, body {
  font-family: Noto Sans TC;
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  .sidebar {
    width: 20%;
    margin-right: 2.4%;
  }
  .home {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    border-left: 1px solid var(--input-border);
    position: relative;
    z-index: 0;
    @include breakpoint(pad-portrait-980) {
      border-right: 1px solid var(--input-border);
    }
    @include breakpoint(mobile) {
      border: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .popular {
    position: relative;
    z-index: 1;
    width: 28%;
    padding-left: 2.4%;
    background: var(--light);
    border-left: 1px solid var(--input-border);
  }
  @include breakpoint(zone-base) {
    .sidebar {
      width: 10%;
    }
  }
  @include breakpoint(pad-portrait-980) {
    .popular {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    display: block;
    height: 100vh;
    width: 100vw;
    position: relative;
    .sidebar {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-top: auto;
    }
    
  }
  
}
